<ion-header>
  <h1 class="title">Tienda online</h1>
  <ion-button color="primary" shape="round" (click)="abrircarrito()">
    <ion-icon name="cart-outline"></ion-icon>
  </ion-button>
  <div class="box">
    <div class="buscador">
      <ion-searchbar inputmode="text" placeholder="busca en la tienda"></ion-searchbar>
    </div>
  </div>

</ion-header>

<body class="cuerpo">
  <div>
    <h3 class="postres">
      <ion-icon name="heart-outline"></ion-icon>
      Seleccion de postres
    </h3>
  </div>
  <ion-row class=" row col-cols-5 row-cols-sm-5 g-1">
    <ion-col class="img" *ngFor="let product of products">
      <ion-card class="card" (click)="openModal(product)">
        <ion-img style="width: auto; height: auto;" [src]="getImgUrl(product.imgUrl)"></ion-img>
        <ion-card-header class="precios">
          <ion-card-title class="precio">{{product.price}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="nombre">
          {{product.productName}}
          <div class="descripcion">{{product.productDescription}}</div>
        </ion-card-content>
        <ion-col size="4" class="ion-text-right" >
          <ion-button fill="clear">
            <ion-icon name="add" (click)="addProductToCart(product)"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-card>
    </ion-col>
  </ion-row>
</body>
