<ion-header>
  <h1 class="title">Tienda online</h1>
  <div class="box">
    <div class="buscador">
      <ion-searchbar inputmode="text" placeholder="busca en la tienda"></ion-searchbar>
    </div>
  </div>
</ion-header>
<body class="cuerpo">
  <div>
    <h3 class="postres">
      <ion-icon name="heart-outline"></ion-icon>
      Seleccion de postres
    </h3>
  </div>
  <ion-row>
    <ion-col class="img" *ngFor="let product of products">
      <ion-card class="card">
        <ion-img  [src]="getImgUrl(product.imgUrl)"></ion-img>
        <ion-card-header class="precios">
          <ion-card-title class="precio">{{product.price}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="nombre">
          {{product.productName}}
          <div class="descripcion">{{product.productDescription}}</div>
          <ion-button routerLink="market/idproduct"> ver mas </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</body>
