.title{
text-align: center;
color:black;
}

ion-searchbar {
    --placeholder-color : black ;
    --background:white;
    width: 260px; 
    margin: auto;
    top: -10px;
}
.postres{
    text-align: center;
}
.row{
    justify-content: center;
}
.cuerpo{
    background-color: white;
    color: black;
    padding: 8px;
    overflow:scroll;
    
}
.card{
    background-size: contain;
    background-color: white;
    height: 340pt;
}

.precio{
    color:black;
    text-align: left;
}
.nombre{
    color:black;
}
.descripcion{
    color:grey;
    font-size: small;
}
.card:hover{
    box-shadow:  8px 8px 10px 0;;
}
ion-button{
    position: absolute;
}
.remove{
    text-align: left;
}