<!-- <ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Categorias</ion-item>
      <ion-item>Vision</ion-item>
      <ion-item>carro</ion-item>
      <ion-item>Zona</ion-item>
      <ion-item>entrar</ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->
<ion-menu side="start" menuId="first" contentId="menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Categorias</ion-item>
      <ion-item>Vision</ion-item>
      <ion-item>carro</ion-item>
      <ion-item>Zona</ion-item>
      <ion-item>entrar</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>